.navbar {
  display: flex;
  justify-content: space-around;
}
.content {
  margin-top: 5rem;
}

.homepage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(17, 17, 101);
}
.homepage__main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 20rem;
  gap: 1.2rem;
}
.main-container__left-container {
  display: flex;
  flex-direction: column;
}
.left-container__heading {
  font-size: 3rem;
}

/* table */
table {
  width: 50%;
  margin: auto;
  border: 2px solid;
}

th {
  padding: 1rem;
  border: 2px solid;
  background-color: black;
  color: white;
}
td {
  padding: 1rem;
  border: 2px solid;
}
